<body>
  <mat-card class="example-card">
    <img mat-card-image src="../../../assets/img/card_title.jpg">
    <mat-card-title>Course example</mat-card-title>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >GO TO COURSE</button>
    </mat-card-actions>
  </mat-card>
</body>