<body>
    <div class="main">
        <div class="lesson">
            <p class="lesson_title">Lesson 1: Blablabla</p>
            <div id="plotDiv"></div>
            <p class="phrase">Hello</p>
        </div>
        <div class="controls">
            <button mat-fab (click)="listenAudio()">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-fab (click)="startRecording()">
                <mat-icon>keyboard_voice</mat-icon>
            </button>
            <button mat-fab (click)="clearRecord()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        {{clickMessage}}
    </div>
</body>