.main {
    padding-top: 1%;
    margin: 0 auto;
    width: 50%;
}
.lesson {
    background-color: white;
    text-align: center;
    border-radius: 1%;
}
.controls button{
    margin-left: 10px;
}
.controls{
    margin: 0 auto;
    width: fit-content;
}
body {
    background-color: rgb(240, 240, 240);
}